/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Merriweather', serif;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
background-color: rgb(175, 164, 164);
height: 100%;
}

h1{
  text-align: center;
  font-size: 5rem;
  font-weight: 900;
  margin: 5% 10%;

}
.inputs{
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 40px;
}
h3{
  font-size: 3rem;
}
ul{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 10%;
 
}
li{
  width: 21%;
  margin-bottom: 20px;
  
}
img{
  width: 75%;
  align-items: center;
  transition: box-shadow 0.7s;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}
img:hover{
  
  border: 0px solid #000000;
  -webkit-box-shadow: 7px 10px 72px 16px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 72px 16px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 72px 16px rgba(0,0,0,0.75); 
}
.hidden{
  display: none;
}
.opis{
  text-align: center;
  margin: 20px 20% 20px 20%
}
.znak{
  font-size: 2.5rem;
  margin: 50px 0 40px 0;
}
.horoskop{
  font-size: 2rem;
}
#powrót{
  text-align: center;
  font-size: 2rem;
  margin: 70px auto 0 auto;
  width: 100px;
}
.back{
  display: flex;
  align-items: center;
  justify-content: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
